.projectContainer{
  text-align: center;
}

.project-flexContainer{
  border: 1px solid black;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: auto;
  width: 808px;
}

.project{
  text-align: left;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  position: relative;
}

.project:hover{
  background-color: black;
  color: white;
}

.project:hover img{
  display: none;
}

.project h3{
  margin: 15px;
}
.project p{
  color: white;
  margin: 15px;
}

div.tags {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

div.tags p {
  font-size: 12px;
  color: black;
}

div.tags p img{
  color: black;
  font-size: 12px;
  margin-right: 5px;
  vertical-align: middle;
}