/*-------*/
/*Fonts*/
/*-------*/

@font-face {
    font-family: 'tex';
    src: url('./fonts/texgyreheros-regular.otf') format('opentype');
}

@font-face {
    font-family: 'tex';
    font-weight: bold;
    src: url('./fonts/texgyreheros-bold.otf') format('opentype');
}

/*-------*/
/* Main Menu View */
/*-------*/

body{
    background-color: black;
    margin:0px;
    font-family: helvetica,Helvetica,'tex';
}

.main{
    height: 100vh;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center;
}

/* Added to prevent outline around divs */
p{margin: 0px;}

/* Cards */
.card{
	/* Card Sizing */
	width: 250px;
	height: 400px;
	border-radius: .25in;

	/* Display Properties */
	float: left;
	margin: 10px
}

.dark{
	/* Color information */
    border: 1px solid white;
	color: white;
	background: black;
}

.light{
	/* Color information */
    border: 1px solid white; Keep
	color: black;
	background: white;
}

.text{
	/*font information*/
	font-family: Helvetica,sans-serif;
	font-weight: bolder;
	font-size: 26px;
	padding-left:7%;
	padding-right:7%;
    margin-top: 20px;
}

.subtext{
	/*font information*/
	font-family: Helvetica,sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-left:7%;
	padding-right:7%;
    margin-top: 20px;
}

.menu{
	list-style-type: none;
}

.menu li a{
    color: black;
    text-decoration: none;

}

.menu li a:hover{
	color: #d9d9d9;
}

.stackcard{
	/* Card Sizing */
    width: 250px;
	height: 400px;
	border-radius: .25in;

	/* Display Properties */
	position:absolute;
}

.hide {
    display: none;
}

/*-------*/
/*Sections*/
/*-------*/

.section{
    overflow: hidden;
    padding: 3%;
}

#portfolio{
    background-color: white;
    min-height: 800px;
    text-align: center;
}

/*-------*/
/*Portfolio*/
/*-------*/

h2{
    font-weight:bold;
    font-size: 36px;
    display: inline-block;
}

#jetsSearch{
    border-style: none;
    border-bottom: thick solid black;
    font-weight:bold;
    font-size: 36px;
}

body{
   font-family: helvetica;
}

#jetsSearch{
  border-style: none;
  border-bottom: thick solid black;
  font-weight:bold;
  font-size: 36px;
  font-family: helvetica;
}

h2{
    font-weight:bold;
    font-size: 36px;
    display: inline-block;
}

h3{
  margin: 15px;
}

.tags{
  margin-bottom: 15px;
  margin-left: 15px;
  position: absolute;
  bottom:0;
  font-size: 12px;
}

.tags img{
      vertical-align: middle;
}


.portfolioContainer {
    margin: 0 auto;
    width: 808px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border:1px solid black;
    text-align: left;
}

.portfolioContainer a{
    text-decoration: none;
    color: black;
    width: 202px;
}

.portfolioContainer div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin:0px;
    position: relative;
}

.portfolioContainer div:hover {
  background: black;
  color:white;
}

.portfolioContainer div:hover p.tags {
  display:none;
}

.description{
  color: white;
  margin:15px;
}
