.skill{
  background-color: black;
  border: none;
  color: white;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 3px;
  padding: 2px 4px 2px 3px;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.skill:focus{
  outline: none;
  border: none;
}