.skill{
  background-color: black;
  border: none;
  color: white;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 3px;
  padding: 2px 4px 2px 3px;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.skill:focus{
  outline: none;
  border: none;
}

.skillContainer{
  text-align: center;
}

.skillContainer-FlexBox{
  align-content: flex-start;
  align-items: flex-start;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 20%; 
}

.skillContainer-FlexItem{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}